In [23]:
# Import libraries
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv('data/boston_housing.csv')

In [11]:
'''
Variables in order:
CRIM     per capita crime rate by town
ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS    proportion of non-retail business acres per town
CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
NOX      nitric oxides concentration (parts per 10 million)
RM       average number of rooms per dwelling
AGE      proportion of owner-occupied units built prior to 1940
DIS      weighted distances to five Boston employment centres
RAD      index of accessibility to radial highways
TAX      full-value property-tax rate per $10,000
PTRATIO  pupil-teacher ratio by town
B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
LSTAT    % lower status of the population
MEDV     Median value of owner-occupied homes in $1000's
'''
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [12]:
feature_columns = data.columns[:-1]
data['features'] = data[feature_columns].values.tolist()

In [13]:
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,features
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,"[0.00632, 18.0, 2.31, 0.0, 0.5379999999999999,..."
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,"[0.02731, 0.0, 7.07, 0.0, 0.469, 6.421, 78.9, ..."
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,"[0.02729, 0.0, 7.07, 0.0, 0.469, 7.185, 61.1, ..."
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,"[0.032369999999999996, 0.0, 2.18, 0.0, 0.45799..."
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,"[0.06905, 0.0, 2.18, 0.0, 0.45799999999999996,..."

In [16]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(data, test_size = 0.3)

In [42]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(train_data['features'].tolist(), train_data['medv'])
print(model.score(train_data['features'].tolist(), train_data['medv']))

0.7705482705834954

In [43]:
y_pred = model.predict(test_data['features'].tolist())

In [79]:
import math
from sklearn.metrics import mean_squared_error

model_results = pd.concat([test_data['medv'].reset_index(drop=True), \
                           pd.DataFrame(y_pred, columns = ['y_pred']).reset_index(drop=True)], axis=1, sort=False)
model_results['error'] = model_results['medv'] - model_results['y_pred']
print(model_results.head())
print('Root Mean Squared Error: {}'.format(math.sqrt(mean_squared_error(model_results['medv'], model_results['y_pred']))))

   medv     y_pred      error
0  20.8  23.292858  -2.492858
1  14.4   8.583798   5.816202
2  50.0  22.250858  27.749142
3  43.5  39.319609   4.180391
4  20.3  22.466112  -2.166112
Root Mean Squared Error: 5.701580850566127